@font-face {
  font-family: "Sofia Pro";
  src: url("../font/sofia-reg.woff") format("woff"),
    url("../font/sofia-reg.woff2") format("woff2");
}

body {
  position: relative;
  font-family: "Sofia Pro", serif;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

hr {
  margin-top: 100px;
}

footer > p {
  text-align: center;
  font-size: 14px;
  margin: 40px 0px;
}

.nav-link {
  color: #ffffff;
  font-size: 18px;
}

.nav-item > a:hover {
  color: lightgrey;
}

.section {
  min-height: 300px;
  text-align: center;
}

.section-intro {
  background-image: url("../media/intro-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 10%;
  color: #7d287f;
}

.section-info {
  padding: 10%;
}

.section-join {
  background-color: #7d287f;
  color: #ffffff;
  padding: 10%;
}

.section-title {
  font-weight: bolder;
  margin-bottom: 50px;
}

.illustration {
  width: 450px;
}

.logo {
  width: 300px;
  margin-left: 15px;
}
